@{
    ViewBag.Title = "Confirmed!";
}


<h3></h3>
<p> @ViewBag.Message</p>
<p> @Html.ActionLink("Please Click here for the Main Menu", "Index", "Home")</p>
    

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

