@{
    ViewBag.Title = "New Account";
}

    <div>
        <h3>Create a new account</h3>
        <p>
            Let's get you started with a new account. What type of account are you looking for?
            @using (Html.BeginForm("New", "Create", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
            <p>Select one of the following:</p>
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group col-md-offset-2 col-md-10">
                <input type="radio" name="account" value="pc"> Personal Checking<br>
                <input type="radio" name="account" value="bc"> Business Checking<br>
                <input type="radio" name="account" value="lc"> Loan<br />
                <input type="radio" name="account" value="td"> Term Deposit<br />
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Register" />
                </div>
            </div>
             }

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
