@model IEnumerable<Project1.Models.LoanAccount>

@{
    //ViewData["Title"] = "GetAllCustomers";
}

<h4>Loan Accounts</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Account Number
            </th>
            <th>
                Balance
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Debit)
                </td>
                <td>
                    @Html.ActionLink("Pay Installment", "PayInstallment", "Create", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
